# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import csv
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo=pd.read_csv(url,delimiter='\t')
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

print(chipo.shape)

(4622, 5)

In [5]:
# Solution 2
chipo.count(axis='rows')

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

### Step 6. What is the number of columns in the dataset?

In [6]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [7]:
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [8]:
chipo_head=chipo.head(20)
list(chipo_head.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Step 9. Which was the most-ordered item?

In [9]:
chipo_count=chipo.groupby('item_name')[['quantity']].count()
chipo_count.loc[chipo_count['quantity'].idxmax()]

quantity    726
Name: Chicken Bowl, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
chipo_count.loc[chipo_count['quantity'].idxmax()]

quantity    726
Name: Chicken Bowl, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
chipo_choice=chipo.groupby('choice_description')[['quantity']].sum()
chipo_choice.loc[chipo_choice['quantity'].idxmax()]

quantity    159
Name: [Diet Coke], dtype: int64

### Step 12. How many items were orderd in total?

In [12]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.item_price.dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
chipo_iprice=chipo
chipo_iprice['item_price']=chipo_iprice.item_price.str.replace('$','').astype(float)

#### Step 13.c. Check the item price type

In [15]:
chipo_iprice.item_price.dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [19]:
chipo_iprice.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [16]:
print(chipo.index)
chipo.shape[0]

RangeIndex(start=0, stop=4622, step=1)

4622

### Step 16. What is the average revenue amount per order?

In [17]:
# Solution 1

chipo_revenue=chipo.groupby('item_name')[['item_price']].mean()
chipo_revenue

                                       item_price
item_name
6 Pack Soft Drink                        6.610185
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.928182
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.867654
Bowl                                    14.800000
Burrito                                  7.400000
Canned Soda                              1.320577
Canned Soft Drink                        1.457641
Carnitas Bowl                           10.833971
Carnitas Burrito                        10.132712
Carnitas Crispy Tacos                   11.137143
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Chicken Salad                            9.010000
Chicken Salad Bowl                      11.170455
Chicken Soft Tacos                       9.635565
Chips                                    2.342844
Chips and Fresh Tomato Salsa             3.285091
Chips and Guacamole                      4.595073
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Tomatillo-Red Chili Salsa      2.987500
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.641111
Salad                                    7.400000
Side of Chips                            1.840594
Steak Bowl                              10.711801
Steak Burrito                           10.465842
Steak Crispy Tacos                      10.209714
Steak Salad                              8.915000
Steak Salad Bowl                        11.847931
Steak Soft Tacos                         9.746364
Veggie Bowl                             10.211647
Veggie Burrito                           9.839684
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                       10.565714

In [4]:
# Solution 2

#chipo.loc[:,"item_price"].mean(axis=1)

### Step 17. How many different items are sold?

In [18]:
chipo_sell=chipo.groupby('item_name')[['order_id']].count()
chipo_sold=pd.concat([chipo_sell], axis=1)
chipo_sold.columns=['Sold Number']
chipo_sold

                                       Sold Number
item_name
6 Pack Soft Drink                               54
Barbacoa Bowl                                   66
Barbacoa Burrito                                91
Barbacoa Crispy Tacos                           11
Barbacoa Salad Bowl                             10
Barbacoa Soft Tacos                             25
Bottled Water                                  162
Bowl                                             2
Burrito                                          6
Canned Soda                                    104
Canned Soft Drink                              301
Carnitas Bowl                                   68
Carnitas Burrito                                59
Carnitas Crispy Tacos                            7
Carnitas Salad                                   1
Carnitas Salad Bowl                              6
Carnitas Soft Tacos                             40
Chicken Bowl                                   726
Chicken Burrito                                553
Chicken Crispy Tacos                            47
Chicken Salad                                    9
Chicken Salad Bowl                             110
Chicken Soft Tacos                             115
Chips                                          211
Chips and Fresh Tomato Salsa                   110
Chips and Guacamole                            479
Chips and Mild Fresh Tomato Salsa                1
Chips and Roasted Chili Corn Salsa              22
Chips and Roasted Chili-Corn Salsa              18
Chips and Tomatillo Green Chili Salsa           43
Chips and Tomatillo Red Chili Salsa             48
Chips and Tomatillo-Green Chili Salsa           31
Chips and Tomatillo-Red Chili Salsa             20
Crispy Tacos                                     2
Izze                                            20
Nantucket Nectar                                27
Salad                                            2
Side of Chips                                  101
Steak Bowl                                     211
Steak Burrito                                  368
Steak Crispy Tacos                              35
Steak Salad                                      4
Steak Salad Bowl                                29
Steak Soft Tacos                                55
Veggie Bowl                                     85
Veggie Burrito                                  95
Veggie Crispy Tacos                              1
Veggie Salad                                     6
Veggie Salad Bowl                               18
Veggie Soft Tacos                                7